@import "../../global.scss";
//.container{height: 100px;background-color: red; margin-bottom: 2rem}
.big_container{
  margin-bottom:150px;
  //color: red;
  //font-size: 2rem;
  min-height: 150px;
  @include pad{

      width: 100%;
  }
  .scroll-loader{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    padding-top:5rem;
    .lds-ellipsis {
      display: inline-block;
      position: relative;
      width: 80px;
      height: 80px;
    }
    .lds-ellipsis div {
      position: absolute;
      top: 33px;
      width: 13px;
      height: 13px;
      border-radius: 50%;
      background:$complementary;
      animation-timing-function: cubic-bezier(0, 1, 1, 0);
    }
    .lds-ellipsis div:nth-child(1) {
      left: 8px;
      animation: lds-ellipsis1 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(2) {
      left: 8px;
      animation: lds-ellipsis2 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(3) {
      left: 32px;
      animation: lds-ellipsis2 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(4) {
      left: 56px;
      animation: lds-ellipsis3 0.6s infinite;
    }
    @keyframes lds-ellipsis1 {
      0% {
        transform: scale(0);
      }
      100% {
        transform: scale(1);
      }
    }
    @keyframes lds-ellipsis3 {
      0% {
        transform: scale(1);
      }
      100% {
        transform: scale(0);
      }
    }
    @keyframes lds-ellipsis2 {
      0% {
        transform: translate(0, 0);
      }
      100% {
        transform: translate(24px, 0);
      }
    }
  }

  .thinktanklist__container{
    &.and0{
      margin-top: 0;
    }
  margin-top: calc(-205px + 1rem);
    display: grid;
    gap:1rem;
    max-width:1300px;
    grid-template-columns: 0.3fr 0.4fr 2.1fr 2fr 2fr 2.7fr 0.3fr 0.3fr;
    grid-template-rows: 30px 30px 100px 240px 90px 130px 110px 100px 100px 190px 100px 105px;
    //grid-auto-flow: row;
    grid-template-areas:
    ". . . . . area4 area4 area4"
    ". . area1 . . area4 area4 area4"
    ". . area1 . area3 area4 area4 area4"
    ". . area1 area2 area3 area4 area4 area4"
    "area6 area6 area6 area2 area5 area4 area4 area4"
    "area6 area6 area6 area2 area5 area8 . ."
    "area6 area6 area6 area7 area7 area8 . ."
    "area6 area6 area6 area7 area7 area12 area12 ."
    ". area9 area9 area7 area7 area12 area12 ."
    ". area9 area9 area10 area11 area12 area12 ."
    ". . . area10 area11. . ."
    ". . . area10 . . . .";


    .area1 { grid-area: area1; }

    .area2 { grid-area: area2; }

    .area5 { grid-area: area5; }

    .area3 { grid-area: area3; }

    .area4 { grid-area: area4; }

    .area6 { grid-area: area6; }

    .area7 { grid-area: area7; }

    .area8 { grid-area: area8; }

    .area9 { grid-area: area9; }

    .area10 { grid-area: area10; }
    .area11 { grid-area: area11; }
    .area12 { grid-area: area12; }

    .areas{
      @include mobile{
        margin-bottom: 1rem;
        width: calc(100vw - 30px);
        img{
          width: 100%;
        }
      }
    }
    @include pad{
      margin-top: -4px;
      padding:0.5rem;
      grid-template-areas:
    "area1 area1 area1  . . area3 area3 area3"
    "area1 area1 area1  area2 area2 area3 area3 area3"
    "area1 area1 area1 area2 area2 area3 area3 area3"
    "area1 area1 area1  area2 area2 area3 area3 area3"
      ". area4 area4 area5 area5 area3 area3 area3"
      ". area4 area4 area5 area5 area3 area3 area3"
      ". area4 area4 area5 area5 area6 area6 area6"
      "area7 area7 area7 area8 area8 area6 area6 area6"
      "area7 area7 area7 area8 area8 area9 area9 ."
      "area7 area7 area7 area8 area8 area9 area9 ."
      "area10 area10 area10 area11 area11 area12 area12 area12"
      "area10 area10 area10 area11 area11 area12 area12 area12"
      ". . . area11 area11 . . .";

    }
    @include mobile{
      margin-top: 0px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      padding: 5px;
    }

  }

}
