@import "../../global.scss";
.menu-1{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-bottom: 5rem;
  color:$complementary;



  @include mobile{
    flex-direction: column;
    margin-bottom: 0;
    }
}