@import "../../global.scss";
.menu-1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-bottom: 5rem;
  color: $complementary;
  opacity: 0;
  transition: opacity 0.5s ease;
  &.not-transparent {
    opacity: 1;
    //background-color: red;
  }
  @include pad {
    width: 97%;
  }

  @include mobile {
    flex-direction: column;
    margin-bottom: 0;
  }
}
