@import "../../global.scss";
.topbar{
  background-color: $primary ;
  height: 40px;
  width: 100%;
  color: $tertiary;
  position: fixed;
  top: 0;
  z-index: 10;
  transition: all 1s ease;
  .wrapper {
    //padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    .heading-left{
      display: flex;
      align-items: center;


       .heading-left__item{
          text-decoration: none;
         color: inherit;
         margin-left: 20px;
         cursor: pointer;

         .icon {
           font-size: 30px;
           margin-right:50px;
           text-decoration: none;
        }

       }

    }
    .foster{

      @include mobile{
        display: none;
      }
    }
    .nav{
      display: flex;
      margin-right: 15px;
      align-items: center;
      .nav__link{
        margin-right: 15px;
        font-size: 18px;
        cursor: pointer;


      }
      .nav__link-GT-icon{
        margin-left: 2rem;

      }
      .nav__link-GT-input{
        right: 5px;
        width: 8rem;
        height: 2.5rem;

      }
    }


  }


}