@import "../../global.scss";
.topbar{
  background-color: $primary ;
  height: 40px;
  width: 100%;
  color: $secondary;
  position: fixed;
  top: 0;
  z-index: 11;
  transition: all 1s ease;
  .wrapper {
    //padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 0.1rem;

    .heading-left{
      display: flex;
      align-items: center;


       .heading-left__item{
          text-decoration: none;
         color: inherit;
         margin-left: 20px;
         cursor: pointer;

         .icon {
           font-size: 30px;
           margin-right:50px;
           text-decoration: none;
        }

       }

    }
    .foster{

      @include mobile{
        display: none;
      }
      @include pad{
        display: none;
      }
    }
    .nav{
      display: flex;
      margin-right: 15px;
      align-items: center;
      .nav__link{
        margin-right: 15px;
        font-size: 18px;
        cursor: pointer;
        @include mobile{
          display:none;
        }

      }
      .nav__link-GT-icon{
        margin-left: 2rem;
        cursor: auto;

      }
      .nav__link-GT-input{
        right: 5px;
        width: 8rem;
        height: 2.5rem;
        cursor: pointer;
        .Dropdown-control {
                   color: $tertiary;
                  height: 35px;
          cursor: pointer;
        }
      }
    }


  }


}