@import "../../global";
.animated-div{
  display: grid;
  align-items: center;
  justify-items: center;
  .modal-wrapper{
    .icon3{
      transition: all 0.3s ease;
      &.false{
        .icon--tocome{
          display: none;
        }
      }
      &.expand{
        width: 7rem;
        //height: 3rem;
        background-color: white;
        border: 1px solid $complementary;
        text-align: center;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        svg{
          display: none;
        }
      }
        .icon--tocome{
          display: flex;
          color: $complementary;

        }
    }

    .modal-content{
      //scrollbar-width: none;
      //scrollbar-color: #fff0 #fff0;
      .modal__date{
        display: flex;
        align-items: center;
        color: $secondary;
        background-color: rgba(0,0,0,0.1);
        width: max-content;
        padding: 0.2rem 0.5rem;
        svg{
          margin-right: 0.5rem;
          margin-top: 0;
        }
      }

      @include mobile{
        margin-top: 0;
        h1{
          margin: 0;
        }
      }
    }
    .modal-content::-webkit-scrollbar{
      width: 10px;

    }
    .modal-content::-webkit-scrollbar-thumb {
      background-color: rgba(255, 255, 255, 0);
    }
    .modal-content::-webkit-scrollbar-track {
      background: rgba(255, 255, 255, 0);
    }

    @include mobile{
      height: 90vh;
      grid-template-columns: 1fr;
      grid-template-rows: 0.5fr 1fr;
      .modal-img-wrapper{
        border-radius: 10px 10px 0 0 ;
        img{
          border-radius: 10px 10px 0 0 ;
        }
      }

    }
  }

}

