@import "../../global";
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  position: absolute;
  top: 50vh;
  transform: translate(60%, -50%);
  right: 50vw;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.animated-div {
  display: grid;
  align-items: center;
  justify-items: center;
  position: relative;
  .modal__WritePostBtnContainer{
    position: absolute;
    width: min(800px,90%);
    display: flex;
    justify-content: right;
    bottom: -3rem;


  }
  .modal-wrapper {


    .modal-content {
      //scrollbar-width: none;
      //scrollbar-color: #fff0 #fff0;
      .modal__date {
        display: flex;
        align-items: center;
        color: $secondary;
        background-color: rgba(0, 0, 0, 0.1);
        width: max-content;
        padding: 0.2rem 0.5rem;
        margin-left: 1rem;
        svg {
          margin-right: 0.5rem;
          margin-top: 0;
        }
      }
      .modal__bottom{
        display: flex;
        justify-content: space-between;
        align-items: end;
        overflow-x: clip;
        width: 100%;
        position: absolute;
        bottom: -154px;
        .iconComm {
          transition: all 0.3s ease;
          z-index: 10;
          &.false {
            .icon--tocome {
              display: none;

            }
          }
          &.expand {
            min-width: 7rem;
            background-color: white;
            border: 1px solid #2f2f2f;
            text-align: center;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1rem;
            transform-origin: center;
            transform: translate(-113px,14px);
            svg {
              display: none;
            }
          }
          .icon--tocome {
            display: flex;
            color: $complementary;
            font-size: 0.9rem;
            line-height: 1.2rem;
          }
        }


        @include mobile{
          bottom: -14px;
        }

        @media (max-width: 490px) {
          bottom:-46px;
        }
      }
      .iconsLeft{
        position: relative;
        display: flex;
        align-items: end;
        justify-content: center;


        .modal__report-wrapper {
          min-height: 50px;
          min-width: 50px;
          justify-content: center;
          display: flex;
          align-items: end;
          padding: 0 0  1rem 0;
          cursor: pointer;

          svg {
            fill: #b6b8de;;
            z-index: 5;
            transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
            position: absolute;
            left: 11px;
            bottom: 1.2rem;
          }
          .modal__reported{
            display: block;
            width: 0;
            height: 0;
            transition: all 0.3s  ease-in;
            cursor: pointer;
            z-index: 10;
            transform: translateY(-55px);;
            span{
              opacity: 0;
              color: $delete;
            }
          }
        &.reported{
          .modal__reported{
            width: 7rem;
            height: 1.7rem;
            border: 1px solid $delete;
            text-align: center;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1rem;
            transform-origin: center;
            transform: translate(3px, 14px);
            //position: absolute;
           span{
              display: block;
              animation: opacityOn 0.5s 0.2s  forwards;
              margin-left: 1rem;
             line-height: 1.2rem;
             font-size: 0.9rem;
              @keyframes opacityOn {
              to{
                opacity: 1;
               }
              }
            }
          }
          svg{
            fill:$delete;
            transform: rotate(90deg);
          }
        }
        }

      }

      .modal__button-wrapper {
        padding-bottom: 0;
        height: 50px;
        display: flex;
        flex-direction: column;
      }

      @include mobile {
        margin-top: 0;
        h1 {
          margin: 0 0 0.2rem 0;
          color: $complementary;
        }

      }
    }
    .modal-content::-webkit-scrollbar {
      width: 10px;
    }
    .modal-content::-webkit-scrollbar-thumb {
      background-color: rgba(255, 255, 255, 0);
    }
    .modal-content::-webkit-scrollbar-track {
      background: rgba(255, 255, 255, 0);
    }

    @include mobile {
      height: 80vh;
      grid-template-columns: 1fr;
      grid-template-rows: 0.5fr 1fr;
      .modal-img-wrapper {
        border-radius: 10px 10px 0 0;
        img {
          border-radius: 10px 10px 0 0;
        }
      }
    }
  }

}