@import "../../global.scss";

.animated-div {
  display: grid;
  align-items: center;
  justify-items: center;

  .reset-wrapper {
    width: min(400px, 85vw);
    height: min(300px, 90vh);
    padding: 1.5rem 1rem;
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
    background: #e6e6e6;
    color: #000;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10;
    @include mobile {
      margin: 0 0.7rem;
    }

    form{
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      .reset__input-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0.5rem 1rem;
        position: relative;
        &.disabled {
          opacity: 0.5;
        }
      }
      .reset__btn-submit{
        margin: 1rem auto;
        padding: 0.5rem 1rem;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
       background-color: rgba(183, 183, 183, 0.64);
        &:hover{
          background-color: $tertiary;
          color: white;
        }
      }

    }


    .lds-ring{
      transform: none;
      right: unset;
      top: unset;
      position: relative;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      div{
        height: 25px;
        width: 25px;
        border-width: 4px ;
        border-color: #929191 transparent transparent transparent;
      }
    }

  }


}