@import "./global.scss";
.app{
  font-family: 'Roboto Mono', monospace;

  .sections{

    background-repeat: no-repeat;
    background-position: 30% 10.5%;
    background-attachment: fixed;
    background-size: cover;
    //@include mobile{
    //  background-image: url("../storage/app/public/4.jpg");
    //
    //}
    width: 100%;
    background-color: transparent;
    position: relative;
    top: 40px;
    overflow-x: hidden;
    color: $complementary;
    h1{
      text-shadow: -2px -2px  white;
    }
    @include mobile{
      h1{
        color: $primary;
        text-shadow: 1px 1px  $complementary;
      }
    }
    &::-webkit-scrollbar{
      //display:none;
    }


    > *{
      width: 100vw;;
      height: calc(100vh - 85px);
    }
    &.filter{
      filter: blur(5px);
height: 85vh;
      overflow: hidden;
    }


  }
}