@import "./global.scss";
.app{
  height: 100vh;
  font-family: 'Roboto Mono', monospace;
  background-image: url("../public/assets/4.jpg");
  background-repeat: no-repeat;
  background-position: 30% 10.5%;
  background-attachment: fixed;
background-size: cover;
  @include mobile{
    background-image: url("../public/assets/4.jpg");
    background-image: url("../public/assets/4.jpg");
  }
  .sections{
    width: 100%;
    height: calc(100vh - 85px) ;
    background-color: transparent;
    position: relative;
    top: 40px;
    scroll-behavior:smooth;
    scroll-snap-type: y proximity;
    scrollbar-width: none;// for firefox
    overflow-x: hidden;
    color: $complementary;
    @include mobile{
      h1{
        color: $primary;
      }
    }
    &::-webkit-scrollbar{
      display:none;    }


    > *{
      width: 100vw;
      //height/: 100vh;
      height: calc(100vh - 85px);
      scroll-snap-align: start;
    }

  }
}