@import "../../global.scss";

.bottombar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  background-color: $primary;
  color: $secondary;
  font-weight: bold;
  width: 100%;
  height: 45px;
  transition: 1s ease;
  z-index: 14;
  .home{
    flex:1;
    display: none;
    width:32px;
    height: 25px;
    cursor:pointer;
    @include mobile{
      display: flex;
      justify-content: end;
    }
  }
  .search{
    flex:1;
    display: none;
    width:32px;
    height: 25px;
    cursor:pointer;
    @include mobile{
      display: flex;
      justify-content: end;
    }
  }
  .account{
    flex:1.5;
    display: none;
    width:32px;
    height: 25px;
    cursor:pointer;
    @include mobile{
      display: flex;
    }
  }
  .hamburger{
    flex:2.7;
    display: none;
    justify-content: center;
    height: 25px;
    span{
      width:32px;
      display: block;
      //width: 100%;
      height: 3px;
      background-color: $complementary;
      transform-origin: left;
      transition: all 2s ease-in-out;
    }
    @include mobile{
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-between;
      cursor:pointer;
    }
  }
    .bottombar__item{
      margin-right: 15px;
      cursor: pointer;
      div{
        text-decoration: none;
        color: inherit;
        cursor:pointer;
      }

      @include mobile{
        display: none;
      }
    }
  &.active{
    background-color: $complementary;
    height: 100px;z-index: 14;
    .hamburger{
transform: translateY(-90%);
      span{
        &:first-child{
          background-color:$primary;
          transform: rotate(45deg);
        }
        &:nth-child(2){
          opacity: 0;
        }
        &:last-child{
          background-color:$primary;
          transform: rotate(-45deg);
        }
      }
    }

  }
}